<!DOCTYPE html>
<html>
<head>
  <title>Meals</title>

  <%= stylesheet_link_tag 'screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'formtastic', 'formtastic_changes' %>
  <!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->

  <%= javascript_include_tag :defaults %>

  <%= csrf_meta_tag %>

</head>
<body>

<div id="doc">

  <div id="hd">
    <ul id="primary-nav">
      <li class="<%= current_tab?(:menus) %> item">
        <%= link_to "Menus", menus_path %>
      </li>
      <li class="<%= current_tab?(:dishes) %> item">
        <%= link_to "Dishes", dishes_path %>
      </li>
    </ul>
  </div>

  <div id="bd">
    <div class="content">
      <% if flash.length > 0 %>
        <ul id="flash-messages">
          <% flash.each_pair do |type, message| %>
            <li class="<%= type %> message">
              <%= message %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <%= yield %>
    </div>
  </div>

  <div id="ft"></div>

</div>

</body>
</html>
