<!DOCTYPE html>
<html>
<head>
  <title>Meals</title>
  
  <%= stylesheet_link_tag 'formtastic', 'formtastic_changes' %>
  <!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->
  
  <%= javascript_include_tag :defaults %>
  
  <%= csrf_meta_tag %>
  
</head>
<body>

<% if flash.length > 0 %>
  <ul id="flash-messages">
    <% flash.each_pair do |type, message| %>
      <li class="<%= type %> message">
        <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
