<h2><%= @menu.name %></h2>

<ul class="actions">
  <li class="positive action">
    <%= link_to 'Edit Menu', edit_menu_path(@menu) %>
  </li>
  <li class="positive action">
    <%= link_to 'New Item', new_dish_path(@menu) %>
  </li>
  <li class="positive action">
    <%= link_to 'Shopping List', shopping_list_menu_path(@menu) %>
  </li>
</ul>

<table>
  <thead>
    <tr>
      <th>Recipe</th>
    </tr>
  </thead>
  <tfoot></tfoot>
  <tbody>
    <% @menu.items.each do |item| %>
      <tr>
        <td>
          <%= item.recipe.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>