<div class="section-heading">
  <h2><%= @menu.name %></h2>

  <ul class="actions">
    <li class="positive action">
      <%= link_to 'Edit Menu', edit_menu_path(@menu), :class => "edit icon" %>
    </li>
    <li class="positive action">
      <%= link_to 'Shopping List', shopping_list_menu_path(@menu), :class => "list icon" %>
    </li>
  </ul>
</div>

<div class="section-heading">
  <h3>Dishes</h3>

  <ul class="actions">
    <li class="positive action">
      <%= link_to 'Add Dish', new_menu_dish_path(@menu), :class => "add icon" %>
    </li>
  </ul>
</div>

<table class="dishes">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tfoot></tfoot>
  <tbody>
    <% @menu.dishes.each do |dish| %>
      <tr>
        <td>
          <%= link_to dish.name, recipe_path(dish) %>
          <ul class="actions">
            <li class="positive action">
              <%= link_to 'Remove Dish', menu_dish_path(@menu, dish), :method => :delete, :class => 'remove icon' %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>