<h2><%= @menu.name %></h2>

<ul class="actions">
  <li class="positive action">
    <%= link_to 'Edit Menu', edit_menu_path(@menu) %>
  </li>
  <li class="positive action">
    <%= link_to 'Add Dish', new_menu_dish_path(@menu) %>
  </li>
  <li class="positive action">
    <%= link_to 'Shopping List', shopping_list_menu_path(@menu) %>
  </li>
</ul>

<h3>Dishes</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tfoot></tfoot>
  <tbody>
    <% @menu.dishes.each do |dish| %>
      <tr>
        <td>
          <%= dish.recipe.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>